altgraph==0.17
click==7.1.2
cycler==0.10.0
decorator==4.4.2
distro==1.5.0
Flask==1.1.2
future==0.18.2
hello @ file:///C:/Users/Surface%20Book/Documents/Python/_Tutoriels/Hello
imageio==2.9.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.3.3
MouseInfo==0.1.3
networkx==2.5
numpy==1.19.4
opencv-python==4.4.0.46
pandas==1.1.5
pefile==2019.4.18
Pillow==8.1.0
PyAutoGUI==0.9.52
pygame==2.0.1
PyGetWindow==0.0.9
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
PyMsgBox==1.0.9
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.1
PyRect==0.1.4
PyScreeze==0.1.26
pytesseract==0.3.6
python-dateutil==2.8.1
PyTweening==1.0.3
pytz==2020.4
PyWavelets==1.1.1
pywin32-ctypes==0.2.0
scikit-image==0.18.1
scikit-learn==0.24.0
scipy==1.6.0
selenium==3.141.0
six==1.15.0
sklearn==0.0
style==1.1.0
tabula==1.0.5
tabula-py==2.2.0
tesseract==0.1.3
threadpoolctl==2.1.0
tifffile==2020.12.8
update==0.0.1
urllib3==1.26.2
Werkzeug==1.0.1
